.logon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

@media (max-width: 900px) {
    .logon-container {
        flex-direction: column;
    }
}

.logon-container .content {
    width: 100%;
    max-width: 460px;
    background: #f0f0f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.logon-container .content form {
    width: 100%;
}

img {
    width: 600px;
}

section {
    width: 100%;
    max-width: 350px;
}

.logo img {
    width: 300px;
}

.logo h1 {
    text-align: center;
    font-size: 60px;
}

